/* CSS file */
body{
  background-image: url('../images/rm222batch2-kul-27.jpg'); /* Path to your background image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
}
.center-content {
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-top: 35px;
  /* Add any additional styling you prefer */
}

/* Additional styles for ImageUpload, Analysis1, and EntriesPage components can be added here */
